@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --bgColor: #333;
}

body,
html {
    margin: 0;
    padding: 0;

    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bgColor);
}

#app {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    position: relative;
}

.grid > .menu {
    position: absolute;
    top: -10px;
    left: 0;

    transform: translateX(30px);
    color: white;
}

.menu > span.menu_item {
    margin-right: 1em;

    cursor: pointer;
}

.menu_item.current {
    color: gold;
}