:root {
    --bgColor: #333;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bgColor);
}

#app {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}